<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.WislaKrakow</title>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
