<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.WislaKrakow</title>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/vue.min.js"></script>
    <script src="~/Scripts/vue.js"></script>
    <link href="~/Content/NewStyle.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-reboot.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-grid.css" rel="stylesheet" />
</head>
<body>
    <div style="color:ghostwhite">
        <div class="row">
            <div class="col-md-6">
                <h1>Wisla Krakow fan site</h1>
            </div>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
