
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="font-family:'Arial Rounded MT'">
    <div style="background-color:black">
        
            <div class="row">
                <div class="col-md-6">
                    <h1>Wisla Krakow</h1>
                </div>
            </div>
        </div>
    </div>
<img src="~/Images/Wisla 12.png"  width="200" height="200"/>
