
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}

<h2 style="color:ghostwhite">History</h2>
<div style="font-family:'Arial Rounded MT'">
    <p style="color:ghostwhite">Founded by students in the early 20th century, Wisła Kraków (pronounced “víswa krákuf) have earned a spot in Polish football's elite, especially after turning into a dominant power in Poland the first years of the 21st century, time during which they won most of their many titles. In their way longer than 100 years history they obviously had their ups and downs, but through their triumphs and failures alike, they have established themselves as an undisputed Polish football Great, with capital G.</p>
</div>
<div style="font-family:'Arial Rounded MT'">
    <p style="color:ghostwhite">
        When football was embraced by the Polish, the embryonic phase took part in Kraków. In 1906, two clubs were founded: Cracovia and Wisła Kraków.

        TS Wisła, Towarzystwo Sportowe (Sports Society) Wisła, that is the name the founders of the team chose, with Wisła being the Polish word for the river that in English we call by the name Vistula. Running through the heart of Cracow, and playing such a major role in the city's life, it made sense to base the name of the team on that of the river.

        To a higher level
        What started out as a modest team of students, managed to reach fame at national level in the twenties, when first they won the Cup, in 1926, and right after that, their first back-to-back Championship titles, led by legendary Henryk Reyman, a figure so big in Wisla's history, that their stadium is named after him.

        Soon after World War II, Wisla (which is how the team's name is written in English, given that the Polish “ł” character is tricky both to write and pronounce) made their mark again, winning another pair of consecutive Championship titles, in 1949 and 1950. Actually, they topped the league in 1951 as well, but for some reason the Championship title that year was awarded to the Cup winners, Ruch Chorzów. Interestingly, Wisla are following the official line of the Polish Football Association, and even on their official website they do not count that title as one of the many, either way, they have won.
    </p>
</div>
<img src="~/Images/Wilsa 13.jpg"  width="200" height="200"/>
<h2>Basic Facts</h2>
<p style="color:ghostwhite">
    Founded: 1906
    Country: Poland
    City: Krakow
    Home grounds : Stadion Miejski im. Henryka Reymana (1953-)
    Achievements : Polish Championship: 13
    Polish Cup: 4



</p>
<img src="~/Images/Club 1.jpg"  width="200" height="200"/>