
@{
    ViewBag.Title = "Home";
    Layout = "~/Views/Shared/_LayoutPage1.cshtml";
}
<div style="font-family:'Arial Rounded MT'">
    <div style="background-color:black">
        
            <div class="row">
                <div class="col-md-6">
                    <h1>Wisla Krakow</h1>
                </div>
            </div>
        </div>
    </div>
<img src="~/Images/Wisla 12.png"  width="200" height="200"/>
<p style="color:ghostwhite">Wisła Kraków has been one of the most successful Polish football clubs in recent years, winning eight league championships since 1999. ... Wisła also enjoyed some success in European competitions in the 1970s, reaching the quarter-finals in the 1978–79 European Cup and winning the UEFA Intertoto Cup in 1969, 1970 and 1973.</p>
<p style="color:ghostwhite">
    Football was in the beginning. The origins of the Wisla club date back to October 1906 when the first soccer tournament in Krakow took place on the Blonia common. Four ad hoc teams of the city’s early football enthusiasts competed in the contest, and three of them would eventually unite in a club called Wisla in 1907. It was its first captain and goalkeeper Jozef Szkolnikowski who came up with the club name.

    As soon as the first football league was started in Poland in the early 1920s, Wisla Krakow joined the series. The club won its first championship in 1927.

    In 1997 the club’s soccer team was spun off as a public limited company in order to attract investors with capital needed to keep pace with changes in the Polish professional football.
</p>
